:root {
  --primary-color: #f812a0;
  --big-icon-size: 2.4rem;
  --content-big-icon-size: 3.6rem;
  --icon-active-color: #f812a0;
  --shadow-color: var(--primary-color);
  --detail-color: #999;
  --detail-text-color: #666;
  --danger-color: #f85b12;
  --success-color: #1cde6a;
  --primary-active-color: #f566be;

  font-size: 10px;
}

body {
  --chakra-colors-chakra-body-bg: #fafafa;

  font-size: 16px;
}

a,
button,
input[type='button'],
input[type='submit'] {
  -tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

input::placeholder {
  color: #bfbfbf;
}
